body{
    margin: auto;
    font-family: marydale, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    background-color: #fcdfdb;
    color:#3d1319;
}

/* -------------------- Header ---------------*/
header{
    text-align: center;
    background-color: #579c87;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 400px;
    text-align: center;
}

/* -------------------- Fin Header ---------------*/

/* -------------------- En-tête Menu ---------------*/

#titre{
    text-align: center;
}
.fab.fa-itunes-note{
    color: #f36d68;
    font-size: 100px;
    margin-top: 30px;
    margin-right: 25px;
}
h1{
    margin-top: 0;
}

/* -------------------- Fin En-tête Menu ---------------*/

/* -------------------- Composition Menu ---------------*/

h2{
    text-align: center;
    position: relative;
}
h2::after{
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .2em; 
    background: #f36d68;
    z-index: -1;
    opacity: 0.8;
    transition: transform .6s;
}
h2:hover::after{
    transform: scaleX(1);
}
.soustitre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gauche{
    height: 9px;
    border-color: #f36d68;
    border-width: 0px 0px 4px 0px;
    border-radius: 0px 10px;
    width: 400px;
    margin-right: 30px;
}
.droite{
    height: 15px;
    border-color: #f36d68;
    border-width: 0px 0px 4px 0px;
    border-radius: 10px 0px;
    width: 400px;
    margin-left: 30px;
}
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

#maDivEntree,#maDivPlat,#maDivDessert{
width: 78%;
margin: auto;
}

.listentree,.listplat, .listdessert{
    display: flex;
    justify-content: space-between
}


#entree, #mesplats,#dessert, #prix2{
    list-style: none;
}
.plat{
    display: flex;
}

#prix2{
    margin-left: 170px;
}
.lien{
    text-decoration: none;
}
footer{
    font-family: 'robotoregular';
    background-color: #579c87;
    color: #fdcb46;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: auto;
    bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    height: 60px;
}

.textefooter, .lien{
    background-color: #579c87;
    color: #fdcb46;
    border:none;
    font-size: 18px;
    text-decoration: none;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.textefooter:hover {
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}

@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}
20%, 80% {
transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}
40%, 60% {
transform: translate3d(4px, 0, 0);
}
}

#fin{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#noteEnchantee{
    display: flex;
    flex-direction: row;
}

/* -------------------- Fin Composition Menu ---------------*/

/* -------------------- MediaQuerie ---------------*/
@media all and (max-width: 1100px){
    h1, .fab.fa-itunes-note{
        font-size: 60px;
        margin-right: 0;
    }
    .listentree,.listplat, .listdessert{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }
    .prix{
        text-align: center;
    }
    .plat{
        text-align: center;
        font-size: 26px;
    }
    #entree, #mesplats, #dessert{
        padding-left: 0px;
    }
    h2{
        font-size: 35px;
    }
    .gauche, .droite{
        width: 300px;
    }
    footer{
        height: 50px;
    }
    .lien{
        font-size: 25px;
    }
}
@media all and (max-width: 910px){
    .gauche, .droite{
        width: 200px;
    }
    h2{
        font-size: 30px;
    }
    .plat{
        font-size: 20px;
    }
    footer{
        height: 45px;
    }
    .lien{
        font-size: 20px;
    }
    .textefooter{
        font-size: 25px;
    }
}
@media all and (max-width: 765px){
    .logo{
        width: 350px;
    }
    h1, .fab.fa-itunes-note{
        font-size: 40px;
        margin-right: 0;
    }
    .gauche, .droite{
        width: 100px;
    }
    .gauche{
        border-radius: 0px 9px;
    }
    .droite{
        border-radius: 9px 0px;
    }
    h2{
        font-size: 25px;
    }
    .plat{
        font-size: 15px;
    }
    footer{
        height: 40px;
    }
    .lien{
        font-size: 15px;
    }
    .textefooter{
        font-size: 20px;
    }
}
@media all and (max-width: 580px){
    .logo{
        width: 300px;
    }        
    h1, .fab.fa-itunes-note{
        font-size: 30px;
        margin-right: 0;
    }
    .gauche, .droite{
        width: 100px;
    }
    h2{
        font-size: 20px;
    }
    .plat{
        font-size: 10px;
    }
    footer{
        height: 35px;
    }
    .lien{
        font-size: 10px;
    }
    .textefooter{
        font-size: 18px;
    }
}
@media all and (max-width: 360px){
    .logo{
        width: 200px;
    }
    .gauche, .droite{
        width: 60px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 15px;
    }
    .plat{
        font-size:10px;
    }    
    .textefooter{
        font-size: 10px;
    }
}
/* -------------------- Fin MediaQuerie ---------------*/