@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.logo{
	width: 400px;
	text-align: center;
}
header{
	text-align: center;
	background-color: #579c87;
	height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
	font-family: 'robotoregular';
	margin: auto;
	font-style: sample;
}
.menuP{
	width: 500px;
	border: 1px solid;
	transform: scale(1);
	transition-property: transform;
    transition-duration: 400ms;
    opacity: 1;
    color: #fdcb46;
}
.menuP:hover{
	transform: scale(1.15);
	opacity: .5;
}
#container{
	text-align: center;
}
.btn {
	font-family: 'robotoregular',serif;
    background-color: #579c87;
    color: #fdcb46;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.3rem 3rem;
    border-radius: 2rem;
    transform: scale(1);
    width:350px;
    margin: auto;
    margin-top: 10px;

} 
.btn:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;      
  animation: ellipsis steps(4,end) 2000ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

footer{
	font-family: 'robotoregular';
    background-color: #579c87;
    color: #fdcb46;
    height: 14%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    position: sticky;
    width: auto;
    bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
}

.textefooter, #lien{
	background-color: #579c87;
	color: #fdcb46;
	border:none;
	font-size: 20px;
	text-decoration: none;
}

.textefooter:hover {
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}

@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}
20%, 80% {
transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}
40%, 60% {
transform: translate3d(4px, 0, 0);
}
}



#menuhaut, #menubas{
	display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
#menu1, #menu2, #menu3, #menu4{
	display: flex;
    justify-content: center;

}

@media all and (max-width: 1180px){
	.menu1, .menu2, .menu3, .menu4{
		width: 350px;
	}
	footer{
		font-size: 40px;
	}
}
@media all and (min-width: 360px) and (max-width: 700px){
	#menuhaut, #menubas{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.menu1b, .menu3b{
		margin-bottom: 10px;
	}
	footer{
		font-size: 30px;
	}
	.menu4b{
		margin-bottom: 15px;
	}