@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	margin: auto;
}
/* -------------------- Header ---------------*/
.logo{
	width: 400px;
	text-align: center;
}
header{
	text-align: center;
	background-color: #579c87;
	height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
/* -------------------- Fin Header ---------------*/
/* -------------------- Menu ---------------*/
#container{
	text-align: center;
}
.lien{
	text-decoration: none;
}
#menuhaut, #menubas{
	display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#menu1, #menu2, #menu3, #menu4{
	height: 760px;
	width: 530px;
	border:	2px solid #ededed;
	justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 7px 5px #ededed;
    transform: scale(1);
	transition-property: transform;
    transition-duration: 400ms;
    opacity: 1;
    color: #fdcb46;
}
.fab.fa-itunes-note{
	color: #f36d68;
	font-size: 100px;
}
#menu1{
	background-color: #fcdfdb;
	color: #3c1218;
	font-family: marydale, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 30px;
}
#menu1:hover{
	transform: scale(1.15);
	opacity: .5;
}
#menu2{
	background-color: #fff5fe;
	font-family: dalliance-roman, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	color: #c77412;
}
#menu2:hover{
	transform: scale(1.15);
	opacity: .5;
}
#menu3{
	background-color: #f9f9f9;
	font-family: alisha, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	color: #0887fb;
}
#menu3:hover{
	transform: scale(1.15);
	opacity: .5;
}
#menu4{
	background-color: #fdfffd;
	font-family: cinque-donne, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	color: #72bf56;
}
#menu4:hover{
	transform: scale(1.15);
	opacity: .5;
}
/* -------------------- FIN Menu ---------------*/
/* -------------------- Bouton ---------------*/

.btn {
	font-family: montserrat, sans-serif;
	font-weight: 500;
	font-style: normal;
    background-color: #579c87;
    color: #fdcb46;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 1.3rem 3rem;
    border-radius: 2rem;
    transform: scale(1);
    width:360px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;

} 
.btn:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;      
  animation: ellipsis steps(5,end) 2000ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
/* -------------------- Fin Bouton ---------------*/
/* -------------------- Footer ---------------*/
footer{
	font-family: 'robotoregular';
    background-color: #579c87;
    color: #fdcb46;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: auto;
    bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    height: 60px;
}

.textefooter, #lien{
	background-color: #579c87;
	color: #fdcb46;
	border:none;
	font-size: 30px;
	text-decoration: none;
	font-family: montserrat, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.textefooter:hover {
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}

@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}
20%, 80% {
transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}
40%, 60% {
transform: translate3d(4px, 0, 0);
}
}
/* -------------------- FIN Footer ---------------*/
/* -------------------- MediaQuerie ---------------*/

@media all and (max-width: 1100px){
	body{
		width: auto;
	}
	.logo{
		width: 350px;

	}
	#menu1, #menu2, #menu3, #menu4{
		height: 500px;
    	width: 350px;
    	font-size: 20px;
	}
	.fab.fa-itunes-note{
		font-size: 60px;
	}
	#menuhaut, #menubas{
		margin-top: 50px;
	}
	.btn{
		width: 200px;
		font-size: 22px;
	}
	footer{
		height: 50px;
	}
	#lien{
		font-size: 20px;
	}
	.textefooter:hover{
		animation: none;
	}
}
@media all and (max-width: 750px){
	body{
		width: auto;
	}
	#menuhaut, #menubas{
		display: flex;
    	justify-content: space-evenly;
    	margin-top: 35px;
    	flex-direction: column;
    	align-items: center;
	}
	#menu2, #menu4{
		margin-top: 35px;
	}
	header{
		width: auto;
	}
	.logo{
		width: 300px;
	}
	.btn{
		width: 180px;
    	font-size: 20px;
	}
	footer{
		height: 50px;
	}
	#lien{
		font-size: 20px;
	}
}
@media all and (max-width: 400px){
	.logo{
		width: 250px;
	}
	#menu1, #menu2, #menu3, #menu4{
		height: 400px;
    	width: 250px;
    	font-size: 15px;
	}
	#lien{
		font-size: 12px;
	}
	.textefooter{
		font-size: 15px;
	}
	.btn{
		width: 110px;
    	font-size: 12px;
	}
}
/* -------------------- FIN MediaQuerie ---------------*/